/* .hero-image{
    background-image: url('../../assets/vector.png'),url('../../assets/vec.png'), url('../../assets/Vector2.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 420px 450px;

} */
