.service-card{
    background-image: url('../../assets/circle.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px 80%;
}

li {
    font-size: 14px;
    margin-left: 10px;
    list-style-type: circle;
 }